# Managed by Puppet
[Unit]
Description=Windward Game Server

[Service]
WorkingDirectory=<%= @root_dir %>
PIDFile=<%= @pidfile %>
ExecStart=<%= @servicefile -%> start
ExecReload=<%= @service_file -%> reload
ExecStop=<%= @service_file -%> stop
User=windward

#[Install]
#WantedBy=multi-user.target