#! /bin/bash
# Controlled By Puppet
# Script controls the windward server

function kill_service {
  if [ -f <%= @pidfile -%> ]; then
    # read the pidfile
    pid=`cat <%= @pidfile -%>`
    kill $pid
  fi
}

function start_service {
  # read in configuration file
  . <%= @conf %>
  # now use the variables
  mono <%= @cmd -%> -name "${SERVER_NAME}" -world "${WORLD}" -tcp $PORT $IS_PUBLIC
  echo $! > <%= @pidfile %>
}

case "$1" in
  start )
    kill_service
    sleep 5
    start_service
    ;;
  stop)
    # stop service
    kill_service
    ;;
  restart)
    kill_service
    sleep 5
    start_service
    ;;
  *)
    echo "Usage: windward {start|stop|restart}" >&2
    exit 3
    ;;
esac

